.form-group {
    margin-bottom: 0 !important;
}
label{font-weight: normal !important}

#user-role_id label{
    margin-right: 0.8rem;
}

.text-decoration-none:hover{
    text-decoration: none;
}

.btn-icon{
    line-height: 1.7 !important;
}

.big-input{
    font-size: 24px;
}

.select2{
    width: 100% !important;
    margin-bottom: 2rem !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.sidebar[data-background-color="light"]{
  background: #ecedf1 !important;
}

.logo-header[data-background-color="red"], .sidebar .nav.nav-danger > .nav-item.active a:before, .sidebar[data-background-color="white"] .nav.nav-danger > .nav-item.active a:before{
    background: #e50102 !important;
}

td a{
    color:  #707070 !important;
}