*{
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;*/
    /*font-family: sans-serif;*/

}

.label-primary, .label-primary label{
    color: #004b70 !important;
}

.text-gotham{
    font-family: 'Gotham', sans-serif !important;
}

.bg-gray{
    background: #e8e8e8;
}
.bg-gray-2{
    background: #e2e3e4;
}
.font-14{
    font-size: 14px;  
}
.font-16{
    font-size: 16px !important;  
}
.font-12{
    font-size: 12px !important;  
}
.text-gray{
    color: #606060;
}

.icons-gray{
    background: #a7aeb6;
}   

.text-light-gray
{
   color: #a7aeb6;
}

.placeholder-blue::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
    color: #004b70 !important;
    font-weight: bold;
    /*font-family: gotham;*/
}


.font-family-2{
    font-family: 'Hind Siliguri', sans-serif;
}

.small{
    font-size: 0.9rem !important;
    /* font-size: 0.7rem !important; */
}

.second-menu{
    border-bottom-left-radius: 50px;
}
.rounded-1{
    border-radius: 10% !important;
}
.rounded-2{
    border-radius: 35px !important;
}

.rounded-3{
    border-radius: 50px !important;
}

.rounded-50{
    border-radius: 50% !important;
}

.btn-round {
    border-radius: 100px !important;
}

.w-fit-content{
    width: fit-content;
}

/*.text-secondary{
    color: #ccc !important;
}*/

.bg-lightgray{
    background: #f6f6f6;
}

.text-transparent
{
     color: rgb(252 248 247 / 48%);

}
.btn-round {
    border-radius: 100px !important;
}
.fw-bold-2{
    font-weight: 500;
}

.prop-title span{
    font-size: 1.5rem;
    margin-top: -1rem !important; 
    display: inline-block;
    font-weight: 200;
    height:55px;
    color: #939393;
}

.prop-title p{
    font-weight: 500;
}

    
.bg-blue-profile{
    background-color: #0071ba;
}

/* .position-relative-example {
    width: 48rem;
    height: 15rem;
 
  } */


.prop-venta p{
    letter-spacing: 2px;
    font-size: 20px;
}

.prop-precio{
    /* margin-top: -1rem !important;
    margin-left: -2.5rem !important; */
    font-size: 25px;
    padding-bottom: 2px;
    min-width: 100px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 110%;
}

.prop-gallery-img{
    border-radius: 0px 18px 18px 18px;
}

.prop-card-img{
    width: 100%;height: 180px;background-size:cover;background-position:center;
}

.bg-img{
    width: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

main{
    padding-bottom: 11rem;
}
.home-banner-container{
    max-height: 950px;
    margin-bottom: 18rem;
}

.home-banner{
    background: url('/frontend/web/images/banner.png');
    height: 700px;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*border-bottom-left-radius: 80%;*/
}

.home-banner-2{
    background: url('/frontend/web/images/banner-2.png');
    height: 600px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-profile{
    height: 200px;
}

.margin-negative{
    margin-top: -3.25rem !important;
}

.container-sm{
    max-width: 1200px !important;
}



@media (min-width: 768px){
    .navbar-expand-md .navbar-nav {
        flex-direction: column !important;
        text-align: right;
    }
    .home-banner-container{
        margin-bottom: 18rem;
    }
    .w-60{
        width: 60% !important;
    }
}

@media (max-width:  990px){
    .second-menu, .mobile-hidden{
        display: none
    }

    .home-card{
        width: 100% !important;
    }

    .user-profile{
        text-align: center;
    }

    
}



#carousel-thumbs img{
    height: 100%;
}

.youtube-video{
    max-width: 100%;
}

.tasas .accordion-button:not(.collapsed) {
    color: #004b70;
    background-color: #f7f7f7;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.template-labels:hover{
    background: #F0FEFF;
}

.float{
    /*position:fixed;*/
    width:60px;
    /*bottom:40px;*/
    /*right:0px;*/
    background-color:#004b70;
    color:#FFF;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    /*bottom: 50vh;*/
    font-size: 24px;
        border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.custom-toggle svg{
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}

.card-setting{
    width: 500px;
    z-index: 3;
    right: 0px;
}

.card-setting .badge{
    border: 1px solid #ccc;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.selectgroup-input:checked + .selectgroup-button {
    border-color: #1572E8;
    z-index: 1;
    color: #004b70;
    background: #f3f3f3;
}

.selectgroup-pills .selectgroup-button {
    border-radius: 50px !important;
    width: 60px !important;
}

.selectgroup-button {
    display: block;
    border: 1px solid rgba(0, 40, 100, 0.12);
    text-align: center;
    padding: 0.375rem 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #9aa0ac;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 1.5rem;
    min-width: 2.375rem;
}

.selectgroup-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.selectgroup-button-icon {
    padding: calc(1rem - 2px);
    font-size: 1.2rem;
}

.main-carousel{
    z-index: 0;
}

.main-carousel img{
    height: 650px;
}

/* ----- Views --------*/

.c-view{
    margin-top: -110px;
}

.c-view-left{
    border-top-right-radius: 200px;
    padding-top: 7rem !important;
    padding-bottom: 3rem !important;
}

.c-view-right div:first-child{
    border-top-left-radius: 45px;
    height: 110px;
}

/*-------- Preloader --------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}

[data-loader="circle-side"] {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: circle infinite .95s linear;
  -moz-animation: circle infinite .95s linear;
  -o-animation: circle infinite .95s linear;
  animation: circle infinite .95s linear;
  border: 2px solid #333;
  border-top-color: rgba(0, 0, 0, .2);
  border-right-color: rgba(0, 0, 0, .2);
  border-bottom-color: rgba(0, 0, 0, .2);
  border-radius: 100%;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}