*{
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;*/
    /*font-family: sans-serif;*/

}
.bg-gray{
    background: #e8e8e8;
}
.bg-gray-2{
    background: #e2e3e4;
}
.font-14{
    font-size: 14px;  
}
.font-12{
    font-size: 12px;  
}
.text-gray{
    color: #606060;
}

.icons-gray{
    background: #a7aeb6;
}   



.font-family-2{
    font-family: 'Hind Siliguri', sans-serif;
}

.small{
    font-size: 0.9rem !important;
    /* font-size: 0.7rem !important; */
}

.second-menu{
    border-bottom-left-radius: 50px;
}
.rounded-1{
    border-radius: 10% !important;
}
.rounded-2{
    border-radius: 35px !important;
}

.rounded-3{
    border-radius: 50px !important;
}

.rounded-50{
    border-radius: 50% !important;
}

/*.text-secondary{
    color: #ccc !important;
}*/

.bg-lightgray{
    background: #f6f6f6;
}

.text-transparent
{
     color: rgb(252 248 247 / 48%);

}
.btn-round {
    border-radius: 100px !important;
}
.fw-bold-2{
    font-weight: 500;
}

.prop-title{
    font-size: 18px;
     margin-top: -1rem !important; 
     display: inline-block;
     font-weight: 700;
    }
.bg-blue-profile
{
background-color: #0071ba;
}



.prop-venta p{
    letter-spacing: 2px;
    font-size: 20px;
}

.prop-precio{
    /* margin-top: -1rem !important;
    margin-left: -2.5rem !important; */
    font-size: 25px;
   padding-bottom: 2px;
    min-width: 100px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 110%;
}

.prop-gallery-img{
    border-radius: 0px 18px 18px 18px;
}

.prop-card-img{
    width: 100%;height: 180px;background-size:cover;background-position:center;
}

.home-banner-container{
    max-height: 650px;
    /*margin-bottom: 2rem;*/
}

.home-banner{
    background: url('/frontend/web/images/banner.png');
    height: 700px;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*border-bottom-left-radius: 80%;*/
}

.home-banner-2{
    background: url('/frontend/web/images/banner-2.png');
    height: 600px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}


.profile-picture
{
    position:absolute
    
}

.photo-profile
{
    width: 20rem;
    height: 15rem;
}
.container-sm{
    max-width: 1200px !important;
}



@media (min-width: 768px){
    .navbar-expand-md .navbar-nav {
        flex-direction: column !important;
        text-align: right;
    }
    .home-banner-container{
        margin-bottom: 6rem;
    }
    .w-60{
        width: 60% !important;
    }
}

@media (max-width:  990px){
    .second-menu, .mobile-hidden{
        display: none
    }
}

#carousel-thumbs img{
    height: 100%;
}